.display {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
    height: 55%;
    &--grow {
      height: 100%;
      justify-content: center;
    }
    @include pad {
      padding: 0px 30px;
    }
  }
}
.countdown {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column wrap;
  }

  &__display {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column wrap;
    max-width: 100%;
  }

  &__timer {
    max-width: 100%;
    font-size: 15rem;
    font-weight: bold;
    color: $colorWhite;
    @include pad {
      font-size: 10rem;
    }
    @include phone {
      font-size: 8rem;
    }
  }
}

.task {
  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 3rem;
    color: $colorWhite;
    @include pad {
      flex-flow: column;
      gap: 1rem;
    }
  }

  &__currentTask {
    text-align: center;
    font-size: 5rem;
    white-space: pre-wrap;
    overflow: hidden;
    font-weight: bold;
    @include pad {
      font-size: 3rem;
    }
  }

  &__currentCycle {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    &--hide {
      display: none;
    }
    @include pad {
      font-size: 3rem;
    }
  }
}

.btn {
  font-size: 3rem;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border: 10px solid white;
  color: $colorWhite;

  &__wrapper {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    @include phone {
      flex-flow: column nowrap;
    }
  }

  &__toggleTimer {
    &--off {
      background-color: $colorGreen;
    }

    &--on {
      width: 100%;
      max-width: 500px;
      font-size: 4rem;
      background-color: $colorGreen;
    }
  }

  &__reset {
    background-color: $colorCitron;
    &--hide {
      display: none;
    }
  }

  &__skip {
    background-color: $colorGold;
    &--hide {
      display: none;
    }
  }
}
