// device
$tabletWidth: 1200px;
$padWidth: 992px;
$phoneWidth: 430px;

// font

$fontFamily: 'Microsoft Yahei', 'Microsoft JhengHei', 'Roboto', 'DejaVu Sans', sans-serif;

// Guideline Color

$colorBlack: #000;
$colorWhite: #fff;
$colorRed: #81171b;
$colorDeepRed: #45050c;
$colorGold: #ffd639;
$colorGreen: #1b998b;
$colorPink: #f8c7cc;
$colorOrange: #e9724c;
$colorDeepBlue: #253d5b;
$colorCitron: #c3bf6d;
